@import "colors.scss";

body {
  background: color-get(black);
}

body, input, textarea, select, button {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
  color: color-get(white);
}

h1, h2, h3, h4 {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
}

h1, h2 {
  font-weight: 400;
  //letter-spacing: 0.1em;
}

h3, h4 {
  font-weight: 300;
}

h4 {
  font-size: 0.8em;
}

label {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;

  &.small {
    font-size: 0.7em;
    font-weight: 300;
  }

  &.big {
    font-size: 1.5em;
    font-weight: 400;
  }
}

.arrow {
  border-top: solid 0.3em color-get(white);
  border-right: solid 0.3em color-get(white);
  height: 1em;
  margin: 0.3em;
  width: 1em;

  .down { transform: rotate(135deg); }

  .left { transform: rotate(-135deg); }

  .right { transform: rotate(45deg); }

  .up { transform: rotate(-45deg); }
}
