// ballot/category
@import 'app/styles/colors.scss';

$bottom-stop: color-get-alpha(white, 0.8);
$top-stop: color-get-alpha(white, 0.3);

:host {
  .category-option {
    background-image: linear-gradient(to top, $bottom-stop, $top-stop);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 10em;
    position: relative;

    .text-container {
      align-items: center;
      background-color: color-get-alpha(black, 0.6);
      bottom: 0;
      display: flex;
      height: 5em;
      padding: 0 1em;
      position: absolute;
      transition: background-color 0.2s;
      width: 100%;

      label {
        cursor: pointer;
      }

      input[type="radio"] {
        display: none;

        & + label {
          display: inline-flex;
          align-items: center;
          flex: 1;

          &::before, &::after {
            content: '';
            display: inline-block;
          }

          &::before {
            background-color: color-get-alpha(black, 90%);
            border-radius: 0.1em;
            border: solid 0.1em color-get(gold);
            flex-shrink: 0;
            height: 1em;
            width: 1em;
            transition: border-color 0.2s, background-color 0.2s, opacity 0.2s;

            margin-right: 0.5em;
          }

          &::after {
            border-style: solid;
            border-width: 0 2px 2px 0;
            bottom: 2.1em;
            height: 0.8em;
            left: 1.3em;
            margin: 0.1em 0.1em 0 0;
            opacity: 0;
            position: absolute;
            transform: rotate(45deg);
            transition: opacity 0.2s;
            width: 0.4em;
          }
        }

        &:disabled:not(:checked) + label::before {
          opacity: 0.2;
        }

        &:checked + label {
          &::before {
            border-color: color-get(white);
          }

          &::after {
            opacity: 1;
          }
        }

        &:disabled:checked + label {
          &::before {
            background-color: color-get(gold);
            border-color: color-get(white);
          }

          &::after {
            opacity: 0;
          }
        }

        + label {
          max-width: 90vw;
        }
      }

      h1, h2, h3,h4 {
        margin: 0;
      }
    }
  }
}
