// ballot/category-preview
@import 'app/styles/colors.scss';

$bottom-stop: color-get-alpha(white, 0.8);
$top-stop: color-get-alpha(white, 0.3);

:host {
  .category {
    background-image: linear-gradient(to top, $bottom-stop, $top-stop);
    background-size: cover;
    display: block;
    height: 10em;
    position: relative;
    cursor: pointer;

    &:hover .text-container {
      background-color: color-get-alpha(black, 0.95);
    }

    .text-container {
      background-color: color-get-alpha(black, 0.8);
      bottom: 0;
      height: 5em;
      width: 100%;
      position: absolute;
      display: flex;
      transition: background-color 0.2s;

      .left-content, .right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5em;

        & * {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }


      .left-content {
        flex: 1;
        max-width: calc(100% - 4em);
      }

      .right-content {
        width: 2.5em;
      }

      h1, h2, h3,h4 {
        margin: 0;
      }
    }
  }
}
