@import '../styles/colors.scss';

:host {
  $color: color-get(gold);
  $highlight: color-get-alpha(white, 0.8);

  button {
    background-color: color-get-alpha(gold, 0.2);
    color: $highlight;
    border: solid 1px color-get(gold);
    border-radius: 0.1em;
    font-size: 1em;
    font-weight: 500;
    padding: 0.3em 0.8em;
    opacity: 1;
    transition: background-color 0.25s, filter 0.25s, opacity 0.25s;
    text-transform: uppercase;
    font-family: 'futura-pt', sans-serif;

    &:disabled {
      background-color: transparent;
      opacity: 0.6;
      filter: saturate(10%);
    }
  }
}
