// login/login
@import 'app/styles/colors.scss';

$outer-stop: color-get-alpha(black, 0.1);
$inner-stop: color-get-alpha(gold, 1);

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  form {
    flex: 1;

    a {
      color: color-get-alpha(white, 0.9);
      font-family: 'futura-pt', sans-serif;
      text-transform: uppercase;
      font-size: 0.8em;
    }

    .form-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0.2em 0;

      & > * {
        margin: 0.5em 0;
      }
    }

    .text {
      font-size: 0.8em;
      text-align: center;
    }
  }


}
