:host {
  display: block;
  height: 100vh;

  .body {
    display: block;
    height: calc(100vh - 2.5em);
    overflow-y: auto;

    .scores {
      display: block;
      min-height: calc(100vh - 5em);
    }
  }
}
